.rankingItem {
    background: linear-gradient(135deg, var(--background), var(--background-light));
    border: 1px solid var(--theme);
    border-radius: 10px;
    padding: 0.75rem;
    flex-direction: column;
    transition: background 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    height: 250px;
    justify-content: space-between;
}

.rankingItem::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-270deg, var(--background-light), var(--background));
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.rankingItem:hover::after {
    opacity: 1;
}

.rankingItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 var(--theme);
}

.rankingTitleWrapper h3 {
    text-wrap: nowrap;
}

.formatItem.qb {
    background-color: var(--qb);
}

.formatItem.rb {
    background-color: var(--rb);
}

.formatItem.wr {
    background-color: var(--wr);
}

.formatItem.te {
    background-color: var(--te);
}

.formatItem.flx {
    background: linear-gradient(120deg, var(--rb), var(--wr), var(--te));
}

.formatItem.sf {
    background: linear-gradient(120deg, var(--qb), var(--rb), var(--wr), var(--te));
}

.formatWrapper {
    gap: 0.25rem;
    margin: 0.75rem 0;
}

.formatItem {
    flex-direction: column;
    padding: 0.15rem;
    border-radius: 10px;
    width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 0.75rem;
}

.formatNumber {
    padding: 0.15rem;
    border-radius: 10px;
    background-color: var(--background-light);
}

.userInfo {
    align-items: center;
    margin-top: 0.5rem;
}

.userInfo img {
    border-radius: 50%;
    border: 1px solid var(--theme);
    object-fit: cover;
}

.rankingCategories {
    gap: 0.3rem;
    margin-top: 0.5rem;
}

.rankingType {
    text-transform: capitalize;
    background-color: var(--background-light);
    border: 1px solid var(--theme);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
}

.dateWrapper {
    flex-direction: column;
    font-size: 0.85rem;
}

.created.faded {
    opacity: 0.5;
}

.userNameWrapper {
    gap: 0.25rem;
    margin-left: 0.25rem;
    font-size: 0.9rem;
}

.userNameWrapper .username {
    color: var(--sub-text);
}