.editTitle {
    font-size: 2.5rem;
}

.editWrapper {
    max-width: 650px;
    width: 90%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1.25rem;
}

.field label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.editWrapper form {
    margin-top: 1rem;
}

.editWrapper form input {
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--background);
    font-size: 1rem;
    background-color: var(--background-light);
    color: var(--white);
}

.btnWrapper {
    gap: 0.5rem;
}

.btnWrapper button,
.btnWrapper a {
    color: var(--white);
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.btnWrapper .save {
    background-color: var(--theme);
}

.btnWrapper .cancel {
    background-color: var(--background-light);
}

.previewWrapper {
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.previewWrapper .item {
    text-align: center;
}

.previewWrapper .preview,
.previewWrapper .current {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid var(--theme);
}

.previewWrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editWrapper .desc {
    color: #ffffffad;
    font-size: 0.85rem;
}