.editTitle {
    font-size: 2.5rem;
}

.editWrapper {
    background-color: hsla(218, 68%, 17%, 0.75);
    border-radius: 5px;
    position: absolute;
    width: 90%;
    max-width: 650px;
    min-height: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    padding: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 20px;
}

.editWrapper form {
    margin-top: 1.5rem;
}

.editWrapper form input {
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--background);
    font-size: 1rem;
    background-color: var(--background-light);
    color: var(--white);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5;
    backdrop-filter: blur(5px);
}

.btnWrapper {
    gap: 0.5rem;
}

.btnWrapper .save {
    background-color: var(--theme);
    color: var(--white);
    flex: 1;
}

.btnWrapper .cancel {
    background-color: var(--background);
    color: var(--white);
    flex: 1;
}