.generate {
    width: 100% !important;
    height: 40px;
    margin-top: 1rem;
    font-size: 1rem;
}

.form-wrapper {
    width: 95%;
    max-width: 1200px;
    border-radius: 10px;
    margin: 2rem auto 10rem;
}

#rankFormat {
    flex-direction: column;
    gap: 1.5rem;
}

#rankFormat label {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
}

#rankFormat input,
#rankFormat select {
    padding: 0.75rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    background-color: var(--background);
    border: 2px solid var(--background-light);
    color: var(--permWhite);
    font-family: inherit;
}

#rankFormat input:hover,
#rankFormat input:focus,
#rankFormat select:hover,
#rankFormat select:focus {
    border-color: var(--theme);
    outline: none;
}

#rankFormat select {
    cursor: pointer;
    max-width: 300px;
}

.formCheckbox {
    width: fit-content;
    display: block !important;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 8px;
}

.ranking-btn-wrapper {
    margin-top: 50px;
}

.format-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.75rem;
    margin-top: 0.5rem;
}