.format-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.75rem;
    margin-top: 0.5rem;
}

.format-item {
    border: 0 none;
    background-color: var(--background-light);
    padding: 1rem !important;
    transition: transform 0.1s ease;
    position: relative;
}

.format-item:hover {
    border-color: var(--theme);
    cursor: pointer;
}

.format-item:active {
    transform: scale(0.95);
}

.format-item h3 {
    font-size: 1.125rem;
}

.format-item p {
    font-size: 1rem;
    margin-top: 0.25rem;
    color: var(--sub-text);
}

.format-selected {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    background-color: var(--background);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-size: 0.75rem;
}