.formatItem {
    border: 0 none;
    background-color: var(--background-light);
    padding: 1rem !important;
    position: relative;
}

.formatItem:hover {
    border-color: var(--theme);
    cursor: pointer;
}

.formatItem h3 {
    font-size: 1.125rem;
}

.formatItem p {
    font-size: 1rem;
    margin-top: 0.25rem;
    color: var(--sub-text);
}

.formatSelected {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    background-color: var(--background);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-size: 0.75rem;
}