.follow-list-wrapper {
    position: fixed;
    background-color: var(--background);
    backdrop-filter: blur(5px);
    width: 90%;
    max-width: 500px;
    height: 80%;
    max-height: 600px;
    border: 1px solid var(--theme);
    border-radius: 10px;
    overflow: hidden;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.follow-list-inner-wrapper {
    position: relative;
}

.follow-list-list {
    gap: 0.5rem;
    flex-direction: column;
}

.follow-list-title {
    border-bottom: 1px solid var(--background-light);
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}

.follow-list-title-user {
    align-items: center;
    gap: 0.5rem;
}

.follow-list-list,
.follow-list-title {
    padding: 1rem;
}

.user-pfp {
    border: 1px solid var(--background-light);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-pfp img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.follow-list-list div {
    align-items: center;
    gap: 0.5rem;
}

.follow-list-x {
    cursor: pointer;
    background-color: var(--background);
    border: 1px solid var(--theme);
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 50%;
}

.user-item:hover {
    text-decoration: underline;
}