.user-data {
    gap: 1rem;
    margin-top: 5rem;
}
.user-data-img-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--theme);
}

.user-data-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-data-name {
    flex-direction: row;
    align-items: center;
}

.btn.follow, .following {
    padding: 0.35rem 0.75rem;
    font-size: 0.85rem;
    margin-left: 1rem;
    border: 1px solid var(--theme);
}

.btn.follow {
    background: transparent;
}

.following {
    background: var(--theme);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
}

.btn.edit {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: 1px solid var(--white);
    color: var(--black);
}

.user-data-username, .follow-text, .user-data-joined {
    color: var(--sub-text);
}

.user-data-right-wrapper {
    gap: 0.75rem;
}

.user-data-right-wrapper {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.user-data-following:hover, .user-data-following:focus, .user-data-followers:hover, .user-data-followers:focus {
    text-decoration: underline;
    cursor: pointer;
}

.user-data-displayname {
    font-weight: 800;
    font-size: 1.25rem;
    align-items: center;
}

.user-data-displayname img {
    margin-left: 0.25rem;
    width: 30px;
}

.user-data-username {
    font-size: 1rem;
}

.user-data-joined {
    font-style: italic;
    font-size: 0.75rem;
}

.user-rankings {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 0.75rem;
    margin-top: 4rem;
}

@media (min-width: 758px) {
    /*Ranking styles*/
    .user-rankings {
        grid-template-columns: repeat(auto-fill, 45%);
    }
}