.user-data {
    margin-top: 5rem;
    gap: 1rem;
}

.user-data-img-wrapper {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--theme);
}

.user-data-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-data-name {
    flex-direction: column;
}

.user-data-username, .follow-text, .user-data-joined {
    color: var(--sub-text);
}

.user-data-right-wrapper {
    gap: 1rem;
}

.user-data-right-wrapper {
    margin: 0.5rem 0;
}

.user-data-displayname {
    font-weight: 800;
    font-size: 1.5rem;
    align-items: center;
}

.user-data-displayname img {
    margin-left: 0.25rem;
    width: 30px;
}

.user-data-username {
    font-size: 1.25rem;
}

.user-data-joined {
    font-style: italic;
}