.login-wrapper {
    max-width: 600px;
    margin: 4rem auto;
}

.login-wrapper h1 {
    font-size: 4rem;
}

.login-wrapper p {
    text-align: center;
    margin-top: 1rem;
}

.login-wrapper a {
    color: var(--theme);
    text-decoration: underline;
}

.login-wrapper a:hover {
    text-decoration: none;
}

#loginForm {
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

#loginForm input {
    width: 100%;
    height: 50px;
    padding: 1rem;
    background-color: var(--background);
    border: 1px solid var(--theme);
    border-radius: 10px;
    color: var(--permWhite);
    font-size: 1.25rem;
}

#loginForm button {
    width: 100%;
    height: 50px;
    background-color: var(--theme);
    text-transform: capitalize;
    color: var(--permWhite);
    border: 1px solid var(--theme);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.25rem;
    box-shadow: 0 0 2px 1px var(--theme);
    transition: box-shadow 0.2s ease;
    margin-top: 1rem;
}

#loginForm button:hover {
    box-shadow: 0 0 7.5px 1px var(--theme);
}

.formWarning {
    font-style: italic;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: red;
}

.limit-wrapper {
    position: relative;
}

.charLimit {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: 0.9rem;
}