.player-rankings-wrapper,
.players-custom-wrapper {
    gap: 0.5rem;
    flex-direction: column;
    min-height: 700px;
}

.player-item-header {
    align-items: center;
    cursor: pointer;
    padding: 0.4rem;
}

.player-item {
    background-color: var(--background-light);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    border-color: var(--background);
}

.player-item-inner {
    align-items: center;
}

.player-item .player-item-img-wrapper {
    width: 65px;
    height: 65px;
    background-color: var(--background);
    border-radius: 10px;
    overflow: hidden;
}

.player-item-img-wrapper {
    position: relative;
}

.player-team-logo {
    width: 20px;
    height: 20px;
}

.player-item .player-item-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-item-info-wrapper {
    margin-left: 0.75rem;
}

.player-name {
    font-weight: 800;
    font-size: 1rem;
}

.player-item-info-details {
    gap: 0.3rem;
    margin-top: 0.5rem;
}

.player-item-info-details span {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    border: 1px solid var(--theme);
    font-size: 0.75rem;
}

.player-name-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.player-rookie {
    border-radius: 5px;
    background-color: var(--background);
    width: 20px;
    height: 20px;
    border: 1px solid var(--theme);
}

.player-rookie img {
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    object-fit: cover;
}

.player-pos.QB {
    background-color: var(--qb);
    border-color: var(--qb);
}

.player-pos.WR {
    background-color: var(--wr);
    border-color: var(--wr);
}

.player-pos.RB {
    background-color: var(--rb);
    border-color: var(--rb);
}

.player-pos.TE {
    background-color: var(--te);
    border-color: var(--te);
}

.player-pos.DEF {
    background-color: var(--def);
    border-color: var(--def);
}

.player-pos.K {
    background-color: var(--k);
    border-color: var(--k);
}

.drag-handle-tab {
    background-color: var(--theme);
    width: 30px;
    padding: 0 0.5rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    height: 65px;
}

.drag-handle-tab:hover {
    cursor: grab;
}

.drag-handle-tab:active {
    cursor: grabbing;
    opacity: 0.75;
}

.lines-wrapper {
    gap: 0.25rem;
    flex-direction: column;
}

.lines-wrapper .line-drag {
    background-color: var(--permWhite);
    width: 15px;
    height: 2px;
}