.player-card-header-info {
    padding: 1rem;
    background-color: var(--background);
    margin: 0 0.5rem;
    border-radius: 10px;
}

.stats-table {
    position: relative;
    padding: 5rem !important;
}

.player-card-player-info-wrapper,
.stats-table {
    scrollbar-width: thin;
    scrollbar-color: var(--theme) var(--background-light);
    gap: 1.25rem;
    overflow-x: auto;
}

.player-card-player-info-wrapper::-webkit-scrollbar,
.stats-table::-webkit-scrollbar {
    width: 8px;
}

.player-card-player-info-wrapper::-webkit-scrollbar-track,
.stats-table::-webkit-scrollbar-track {
    background: var(--background-light);
    border-radius: 4px;
}

.player-card-player-info-wrapper::-webkit-scrollbar-thumb,
.stats-table::-webkit-scrollbar-thumb {
    background: var(--theme);
    border-radius: 4px;
}

.player-card-player-info-wrapper::-webkit-scrollbar-thumb:hover,
.stats-table::-webkit-scrollbar-thumb:hover {
    background: hsl(194, 100%, 55%);
    /* Slightly lighter theme color on hover */
}

.player-card-player-info-title {
    opacity: 0.85;
    font-weight: 500;
    font-size: 1.15rem;
}

.player-card-player-value,
.player-card-header-left-pos-info {
    font-size: 1.1rem;
}

.player-card-player-value {
    text-align: center;
}

.player-card-player-info-value-wrapper {
    margin: 0.25rem 0;
}

.player-stat-season {
    align-items: center;
}

.stats-table .hide {
    display: none;
}

.stats-table {
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.75rem 0.75rem 1rem;
    background-color: var(--background);
}

.stats-error {
    padding: 0.5rem;
}

.stats-table {
    border: none;
    border-collapse: collapse;
}

.stats-table th {
    text-transform: uppercase;
    padding: 0.35rem 0.35rem 0 0;
    background-color: var(--background);
}

.stats-table td {
    padding: 0.35rem 0.35rem 0 0;
    width: 75px;
    height: 30px;
}

.spacing-left {
    padding: 0.35rem 0.35rem 0 0.35rem !important;
}

.stats-table td,
.stats-table th {
    border: none;
}

.stats-table td div,
.stats-table th {
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.stats-table .logo-team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-table img {
    margin-right: 0.25rem;
}

.stats-table .table-stat {
    background-color: var(--grey-bg);
    border: 1px solid var(--grey-bg);
    text-align: center;
    width: 75px;
}

.table-stat.green {
    color: var(--green);
    background-color: var(--green-bg);
    border-color: var(--green-bg);
}

.table-stat.yellow {
    color: var(--yellow);
    background-color: var(--yellow-bg);
    border-color: var(--yellow-bg);
}

.table-stat.red {
    color: var(--red);
    background-color: var(--red-bg);
    border-color: var(--red-bg);
}

.table-section {
    border-bottom: 1px solid var(--white-t) !important;
    background-color: var(--background-light);
    border-radius: 0 !important;
}

.border-right {
    border-right: 1px solid var(--white-t) !important;
}

.playerYearGroup {
    width: 135px;
    justify-content: space-between;
    margin: 0.5rem 0 1.25rem;
}

.playerYearGroup span {
    font-size: 1.25rem;
}

.playerYearGroup button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 1rem;
}

.playerYearGroup button:hover {
    background-color: var(--background-light);
}

.playerYearGroup button.inactive {
    cursor: default;
    opacity: 0.25;
}

.playerYearGroup button.inactive:hover {
    background-color: transparent;
}

.playerYearGroup button:active {
    transform: scale(0.9);
}

table tr .table-section:nth-child(1) {
    border-top-left-radius: 10px !important;
}

table tr .table-section:nth-last-child(1) {
    border-top-right-radius: 10px !important;
}