.player-card-header-info {
    padding: 1rem;
    background-color: var(--background);
    margin: 0 0.5rem;
    border-radius: 10px;
}

.player-card-player-info-wrapper, .player-stat-season-wrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--theme) var(--background-light);
    gap: 1.25rem;
    overflow-x: auto;
  }
  
  .player-card-player-info-wrapper::-webkit-scrollbar, .player-stat-season-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  
  .player-card-player-info-wrapper::-webkit-scrollbar-track, .player-stat-season-wrapper::-webkit-scrollbar-track {
    background: var(--background-light);
    border-radius: 4px;
  }
  
  .player-card-player-info-wrapper::-webkit-scrollbar-thumb, .player-stat-season-wrapper::-webkit-scrollbar-thumb {
    background: var(--theme);
    border-radius: 4px;
  }
  
  .player-card-player-info-wrapper::-webkit-scrollbar-thumb:hover, .player-stat-season-wrapper::-webkit-scrollbar-thumb:hover {
    background: hsl(194, 100%, 55%); /* Slightly lighter theme color on hover */
  }

.player-card-player-info-title {
    opacity: 0.85;
    font-weight: 500;
    font-size: 1.15rem;
}

.player-card-player-value, .player-card-header-left-pos-info {
    font-size: 1.1rem;
}

.player-card-player-value {
    text-align: center;
}

.player-card-player-info-value-wrapper {
    margin: 0.25rem 0;
}

.player-stat-season {
    align-items: center;
}

.player-stat-season-wrapper {
    background-color: var(--background);
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.75rem 0.75rem 1rem;
}

.player-stat-season-wrapper table {
    border: none;
    border-collapse: collapse;
}

.player-stat-season-wrapper table th {
    text-transform: uppercase;
    padding: 0.35rem 0.35rem 0 0;
}
.player-stat-season-wrapper table td  {
    padding: 0.35rem 0.35rem 0 0;
    width: 75px;
    height: 30px;
}

.spacing-left {
    padding: 0.35rem 0.35rem 0 0.35rem !important;
}

.player-stat-season-wrapper table td, .player-stat-season-wrapper table th {
    border: none;
}

.player-stat-season-wrapper table td div, .player-stat-season-wrapper table th {
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.player-stat-season-wrapper table .logo-team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-stat-season-wrapper table img {
    margin-right: 0.25rem;
}

.table-stat {
    background-color: var(--grey-bg);
    border: 1px solid var(--white);
    text-align: center;
    width: 75px;
}

.table-stat.green {
    color: var(--green);
    background-color: var(--green-bg);
    border-color: var(--green);
}

.table-stat.yellow {
    color: var(--yellow);
    background-color: var(--yellow-bg);
    border-color: var(--yellow);
}

.table-stat.red {
    color: var(--red);
    background-color: var(--red-bg);
    border-color: var(--red);
}

.table-section {
    border-bottom: 1px solid var(--white-t) !important;
}

.border-right {
    border-right: 1px solid var(--white-t) !important;
}

.playerYearGroup {
    width: 135px;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.playerYearGroup span {
    font-size: 1.25rem;
}

.playerYearGroup button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 1rem;
}

.playerYearGroup button:hover {
    background-color: var(--background-light);
}