.users-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 0.5rem;
    margin-top: 2rem;
}

.users-item {
   align-items: center;
   width: 100%;
   height: 90px;
   padding: 0.5rem;
   background: var(--background-light);
   border: 1px solid var(--background);
   border-radius: 10px;
}

.users-item:hover {
    border-color: var(--theme);
}

.user-pfp {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.users-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    margin-left: 0.75rem;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.displayname {
    font-size: 1.125rem;
}

.username {
    font-size: 0.95rem;
    color: var(--sub-text);
}

.joined {
    margin-top: 0.25rem;
    font-size: 0.85rem;
    font-style: italic;
}
