*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #0B1D3A;
  --theme: hsl(194, 100%, 49%);
  --white: #fff;
  --black: #000;

  --permBlack: #000;
  --permWhite: #fff;
}

.light {
  --background: #fff;
  --white: #000;
  --black: #fff;
}

body {
  background-color: var(--background);
  color: var(--white);
}

.content-wrapper, .nav-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
