*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: hsl(215, 65%, 14%);
  --theme: hsl(194, 100%, 49%);
  --white: #fff;
  --black: #000;

  --permBlack: #000;
  --permWhite: #fff;
}

.light {
  --background: #fff;
  --white: #000;
  --black: #fff;
}

body {
  background-color: var(--background);
  color: var(--white);
}
