*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: hsl(217, 68%, 6%);
  --background-light: hsl(217, 68%, 17%);
  --theme: hsl(194, 100%, 49%);
  --white: #fff;
  --black: #000;
  --sub-text: hsl(0, 0%, 75%);
  --white-t: hsla(0, 0%, 100%, 20%);

  --permBlack: #000;
  --permWhite: #fff;
  
  --green: hsl(125, 67%, 48%);
  --green-bg: hsla(125, 67%, 48%, 0.2);
  --yellow: hsl(58, 67%, 45%);
  --yellow-bg: hsla(58, 67%, 45%, 0.2);
  --red: hsl(359, 67%, 48%);
  --red-bg: hsla(359, 67%, 48%, 0.2);
  --grey-bg: rgba(128, 128, 128, 0.2);

  --qb: #1E90FF;
  --rb: #32CD32;
  --wr: #9932CC;
  --te: #FFA500;
  --def: #DC143C;
  --k: #7988A1;

  /*NFL Team Colors*/
--ari: #97233F;   /* Arizona Cardinals (Cardinal Red) */
--atl: #000;   /* Atlanta Falcons (Falcons Red) */
--bal: #241773;   /* Baltimore Ravens (Ravens Purple) */
--buf: #00338D;   /* Buffalo Bills (Royal Blue) */
--car: #0085CA;   /* Carolina Panthers (Panthers Blue) */
--chi: #0B162A;   /* Chicago Bears (Bears Navy) */
--cin: #FB4F14;   /* Cincinnati Bengals (Bengals Orange) */
--cle: #311D00;   /* Cleveland Browns (Brown) */
--dal: #003594;   /* Dallas Cowboys (Cowboys Blue) */
--den: #FB4F14;   /* Denver Broncos (Broncos Orange) */
--det: #0076B6;   /* Detroit Lions (Honolulu Blue) */
--gb: #203731;   /* Green Bay Packers (Dark Green) */
--hou: #03202F;   /* Houston Texans (Deep Steel Blue) */
--ind: #003DA5;   /* Indianapolis Colts (Colts Blue) */
--jax: #006778;   /* Jacksonville Jaguars (Teal) */
--kc: #E31837;   /* Kansas City Chiefs (Red) */
--lv: #000000;    /* Las Vegas Raiders (Black) */
--lac: #0080C6;   /* Los Angeles Chargers (Powder Blue) */
--la: #003594;   /* Los Angeles Rams (Royal Blue) */
--mia: #008E97;   /* Miami Dolphins (Aqua) */
--min: #4F2683;   /* Minnesota Vikings (Purple) */
--ne: #002244;   /* New England Patriots (Navy Blue) */
--no: #D3BC8D;   /* New Orleans Saints (Old Gold) */
--nyg: #0B2265;   /* New York Giants (Giants Blue) */
--nyj: #125740;   /* New York Jets (Gotham Green) */
--phi: #004C54;   /* Philadelphia Eagles (Midnight Green) */
--pit: #FFB612;   /* Pittsburgh Steelers (Gold) */
--sf: #AA0000;   /* San Francisco 49ers (49ers Red) */
--sea: #002244;   /* Seattle Seahawks (College Navy) */
--tb: #D50A0A;   /* Tampa Bay Buccaneers (Red) */
--ten: #4B92DB;   /* Tennessee Titans (Titans Blue) */
--was: #5A1414;   /* Washington Commanders (Burgundy) */

}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

h1 {
  font-weight: 800;
}

.content-wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: capitalize;
  font-family: inherit;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  transition: 0.1s ease;
}

.btn.main {
  background-color: var(--theme);
  color: var(--permWhite);
  border-color: var(--theme);
}

.btn.main:hover {
  box-shadow: 0 0 15px 1px rgba(0, 192, 250, 0.5);
}

.btn.alt {
  border-color: rgba(255, 255, 255, 0.06);
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
}

.btn.alt:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.5rem;
}

button, input {
  font-family: inherit;
}

.knewave {
  font-family: "Knewave", system-ui;
}
