.filterItems {
    align-items: center;
    margin: 0.5rem 0 1rem;
}

.filterButtons {
    margin-left: 0.5rem;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.filterButtons button {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: var(--permWhite);
    width: 80px;
    height: 32px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 0.9rem;
    cursor: pointer;
}

.filterButtons button.active {
    background-color: var(--permWhite);
    color: var(--permBlack);
    font-weight: bold;
}

.filterButtons button:hover {
    background-color: var(--permWhite);
    color: var(--permBlack);
}